
<script src="/javascripts/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
</div>
<!-- ./wrapper -->
</body>
</html>